.affiliate {
    float: left;
    overflow: hidden;
  }
  .affiliate .dropbtn {
    font-size: 24px;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    background-color: inherit;
    font-family: "Comic Sans MS", sans-serif;
    margin: 0;
    
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2a2424;
    min-width: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  .affiliate:hover .dropdown-content {
    display: block;
  }
  
  #nav-bar {
    display: flex;
    position: fixed;
    right: 0px;
    top: 0px;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 20px;
    background-color: #2a2424;
  }
  .nav-link {
  font-family: "Comic Sans MS", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: white;
  text-decoration: none;
  }
  @media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 6) 
  and (orientation: landscape) {
  #nav-bar {
    display: none;
  }
  }
  #home {
  width: auto;
  margin: 15px auto;
  margin-top: 65px;
  display: block;
  }
  section h1 {
  padding: 25px;
  font-size: 50px;
  }
  body {
  background-color: #0058fa;
  font-family: "Comic Sans MS", sans-serif;
  }
  section p{
  font-weight: bold;
  }
  section {
  text-align: center;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  }
  #about {
  background-color: white;
  border-style: solid;
  width: auto;
  margin: 15% 25%;
  
  display: flex;
  }
  #contact {
  background-color: white;
  border-style: solid;
  width: auto;
  margin: 5% 25%;
  display: flex;
  }
  #schedule {
  background-color: white;
  border-style: solid;
  width: auto;
  margin: 5% 25%;
  margin-bottom: 110px; 
  }
  #stream {
    margin-top: 15%;
    margin-bottom: 14%;
  }